<div>
  <p>{{#yaml}}{{{footer}}}{{^footer}}{{#package}}{{name}}{{/package}} is a part of <img src='https://d33wubrfki0l68.cloudfront.net/88338b7637e084df5c43e7a9e6293719dbaf10e2/30903/img/icon_lettering_white.svg' height=24 alt = 'rOpenSci'>. Learn more at <a href="https://ropensci.org">ropensci.org</a>.{{/footer}}{{/yaml}}</p>
</div>

<div class="author">
  <p>
    Developed by {{#package}}{{{authors}}}{{/package}}.
    Site built by <a href="https://pkgdown.r-lib.org">pkgdown</a>.
  </p>
</div>
