<div>
  <p>{{#yaml}}{{{footer}}}{{^footer}}{{#package}}{{name}}{{/package}} is a part of <img src='https://github.com/ropensci/logos/raw/master/icon_lettering_color.png' height=40 alt = 'rOpenSci'>. Learn more at <a href="https://ropensci.org">ropensci.org</a>.{{/footer}}{{/yaml}}</p>
</div>

<div class="author">
  <p>
    Developed by {{#package}}{{{authors}}}{{/package}}.
    Site built by <a href="https://pkgdown.r-lib.org">pkgdown</a> & <a href="https://ropensci.github.io/rotemplate/">rotemplate</a>.
  </p>
</div>
