<!-- begin footer --><div class="footer">
    <div class="container">
        <div class="row start top-4 bottom-8">
            <div class="col-2"> <img id="footerlogo" src="https://ropensci.org/img/icon_short_white.svg">
</div>
            <div class="col-10">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <a href="https://github.com/ropensci" target="_blank"><div class="icon fab fa-github"></div></a>
                        <a href="https://github.com/ropenscilabs" target="_blank"><div class="icon fa fa-flask"></div></a>
                        <a href="https://twitter.com/ropensci" target="_blank"><div class="icon fab fa-twitter"></div></a>
                        <a href="https://vimeo.com/ropensci" target="_blank"><div class="icon fab fa-vimeo"></div></a>
                    </div>
                </div>
                <div class="row top-4">
                    <div class="col-md-2 col-sm-4">
                        <ul>
<h5 class="bottom-2">About</h5>
                            <li><a href="https://ropensci.org/about">About rOpenSci</a></li>
                            <li><a href="https://ropensci.org/software-review">Software Review</a></li>
                            <li><a href="https://ropensci.org/about#team">Our Team</a></li>
                            <li><a href="https://ropensci.org/careers">Jobs</a></li>
                            <li><a href="https://ropensci.org/donate">Donate</a></li>
                            <li><a href="https://ropensci.org/contact">Contact Us</a></li>
                        </ul>
</div>
                    <div class="col-md-3 col-sm-4">
                        <ul>
<h5 class="bottom-2">Community</h5>
                            <li><a href="https://ropensci.org/community/">Our Community</a></li>
                            <li><a href="https://ropensci.org/commcalls/">Community calls</a></li>
                            <li><a href="https://ropensci.org/events/">Events</a></li>
                            <li><a href="https://discuss.ropensci.org/">Join the Discussion</a></li>
                            <li><a href="https://ropensci.org/code-of-conduct">Code of conduct</a></li>
                        </ul>
</div>
                    <div class="col-md-2 col-sm-4">
                        <ul>
<h5 class="bottom-2">Resources</h5>
                            <li><a href="https://ropensci.org/packages/">Packages</a></li>
                            <li><a href="https://ropensci.org/usecases/">Use Cases</a></li>
                            <li><a href="https://ropensci.org/talks-papers/">Talks &amp; Publications</a></li>
                            <li><a href="https://docs.ropensci.org/">Documentation</a></li>
                            <li><a href="https://ropensci.org/news/">Newsletter</a></li>
                            <li><a href="https://ropensci.org/how-to-cite-ropensci/">Cite rOpenSci</a></li>
                        </ul>
</div>
                    <div class="col-md-4 col-xs-12">
                        <h5 class="bottom-2"></h5>

                        <p>rOpenSci is a fiscally sponsored project of <a href="http://numfocus.org">NumFOCUS</a>.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / end footer -->

