body {
  color: #333E50;
  font-size: 18px;
}


.navbar {
  background-color: #6faef5;
}

.navbar-default {
  color: #c6deff
}

/* navbar ----------------------------------------------- */

.navbar .info {
  float: left;
  height: 50px;
  width: 140px;
  font-size: 80%;
  position: relative;
  margin-left: 5px;
}
.navbar .info .partof {
  position: absolute;
  top: 0;
}
.navbar .info .version {
  position: absolute;
  bottom: 0;
}
